//-
   Created by Alan(000058) on 2016/11/22.
   Email: 532983244@qq.com
   Name: 接送机默认模版
#c_footer
              footer#footer
                hgroup
                  article.basefix
                    figure
                      figcaption
                        mark.icon.foot-1
                        | 关于东航
                      ul
                        li
                          a(href="http://www.ceair.com/about/zjdh/index.html", target="_blank") 走进东航
                        li
                          a(href="http://www.ceair.com/about/dhxw/index.html", target="_blank") 东航资讯
                        li
                          a(href="http://zhaopin.ceair.com/", target="_blank") 东航招聘
                        li
                          a(href="http://www.ceair.com/about/thlm/index.html", target="_blank") 天合联盟
                        li
                          a(href="http://www.ceair.com/about/flys/index.html", target="_blank") 法律和隐私条款
                    figure
                      figcaption
                        mark.icon.foot-2
                        |互动支持
                      ul
                        li
                          a(href="http://www.ceair.com/about/lxwm/index.html", target="_blank") 联系我们
                        li
                          a(href="http://www.ceair.com/guide2/hycjwtjd/index.html", target="_blank") 常见问题
                        li
                          a(href="http://www.ceair.com/complaint/index.html", target="_blank") 意见建议
                        li
                          a(href="http://www.ceair.com/sitemap.html", target="_blank") 网站导航
                    figure
                      figcaption
                        mark.icon.foot-3
                        |友情链接
                      ul
                        li
                          a(href="http://www.ceairgroup.com", target="_blank") 中国东方航空集团公司
                        li
                          a(href="http://www.shanghai-air.com", target="_blank") 上海航空公司
                        li
                          a(href="http://www.flycua.com", target="_blank") 中国联航
                        li
                          a(href="http://easternmiles.ceair.com/", target="_blank") 东方万里行
                    figure
                      figcaption
                        mark.icon.foot-4
                        |关注我们
                      div
                        a(href="http://e.weibo.com/ceairdotcom", target="_blank")
                          mark.icon.foot-sina(title="东航新浪微博")
                        a(href="http://www.ceair.com/talent.html", target="_blank")
                          mark.icon.foot-talent(title="东航达人计划")
                  address
                    | © Copyright 2010 中国东方航空
                    a(target="_blank", href="http://www.miibeian.gov.cn") 沪ICP备10009470号
                    a(href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120628104633144", target="_blank")
                      img(src="http://www.ceair.com/resource4/images/public/img_integrity_1.png")
                    a(target="_blank", href="http://search.cxwz.org/cert/l/CX20111018000613000621")
                      img(src="http://www.ceair.com/resource4/images/public/img_integrity_2.png")