#c_header
  header#header
    section.top
      hgroup
        article.clearfix
          figure.dropdown
            figcaption
              | 销售服务热线:
              span 95530-1-6
            .body.workTime
              | 服务时间：每周一至周日
              span.w_time 8:00-24:00
          figure.link
            a(href="http://eb.ceair.com/FeedBack/pc/index.html", target="_blank") 用户体验反馈
          figure.link
            a(href="http://onlinecsr.ceair.com:8000/robot-dh/", target="_blank") 在线客服
          figure.link
            a(href="http://www.ceair.com/a/mobile_e.html", target="_blank") 移动端
          figure.dropdown
            figcaption 微信
            .body.image
          figure.link
            a(href="http://weibo.com/ceaircom", target="_blank") 微博
          figure.dropdown
            figcaption 特色产品
            .body.text
              b 特色机票类产品
              span
                a(href="http://www.ceair.com/about/dhcpjs/t20141224_19188.html", target="_blank") 港澳台套票
                |  |
                a(href="http://www.ceair.com/about/dhcpjs/t20141224_19189.html", target="_blank") U+随享
                |  |
                a(href="http://www.ceair.com/about/dhcpjs/t20141224_19190.html", target="_blank") 隔夜中转
                |  |
                a(href="http://www.ceair.com/about/dhcpjs/t20141224_19191.html", target="_blank") 市区景点游
                a(href="http://www.ceair.com/a/package_domestic.html", target="_blank") 组合套票
              hr
              b 特色空地联运
              span
                a(href="http://www.ceair.com/about/dhcpjs/t20141224_19192.html", target="_blank") 空铁通
                |  |
                a(href="http://www.ceair.com/about/dhcpjs/t20141224_19193.html", target="_blank") 空巴通
                |  |
                a(href="http://www.ceair.com/about/dhcpjs/t20141224_19195.html", target="_blank") 磁悬浮
                |  |
                a(href="http://www.ceair.com/about/dhcpjs/t20141224_19194.html", target="_blank") 高端旅客接送
              hr
              b 特色旅行额外体验
              span
                a(href="http://www.ceair.com/about/dhcpjs/t20141224_19196.html", target="_blank") 陪伴服务
                |  |
                a(href="http://www.ceair.com/about/dhcpjs/t201519_19498.html", target="_blank") 特殊餐食
                |  |
                a(href="http://www.ceair.com/a/yxzw.html", target="_blank") 优选座位
                |  |
                a(href="http://www.ceair.com/a/excess_baggage.html", target="_blank") 逾重预付费行李
                a(href="http://ecard.ceair.com/muecard/sales/buycard/NewCardSalesAction.do?method=onlineBuyCard&flag=jjek#jjek", target="_blank") 小微企业产品
              hr
              span.long
                a(href="http://www.ceair.com/mp/cxcp.html", target="_blank") 品牌活动
                a(href="http://www.ceair.com/mp/xshd.html", target="_blank") 限时促销
                a(href="http://vacations.ceair.com", target="_blank") 旅游度假
                a(href="http://www.ceair.com/talent.html", target="_blank") 达人计划
          figure.dropdown
            figcaption 友情链接
            .body.text
              span.clearfix.links
                a(target="_blank", href="http://www.ceairgroup.com") 中国东方航空集团公司
                a(target="_blank", href="http://www.shanghai-air.com") 上海航空公司
                a(target="_blank", href="http://shopping.ceair.com/") 东方万里行积分商城
                a(target="_blank", href="http://easternmiles.ceair.com/") 东方万里行
                a(target="_blank", href="http://www.flycua.com/ ") 中国联航
                a(target="_blank", href="http://www.skyteam.com/") 天合联盟
                a(target="_blank", href="http://www.c3q.com.cn") 东航云南
                a(target="_blank", href="http://www.ceairdutyfree.com/") 机上免税品预订
                a(target="_blank", href="http://kas.ceair.com/") 集团客户
                a(target="_blank", href="http://ceagent.ceair.com/") 代理人系统
                a(target="_blank", href="http://www.greaterchinaconnection.com/") 大中华携手飞
          figure.dropdown
            figcaption China
            .body.lang
              dl
                dt(value="cn") 中国
                dd
                  a(href="http://www.ceair.com/", target="_blank") 简体中文
                  |    |
                  a(href="http://en.ceair.com/", target="_blank") English
              dl
                dt(value="hk1") 中国香港
                dd
                  a(href="http://ck.ceair.com/", target="_blank") 繁体中文
                  |    |   
                  a(href="http://hk.ceair.com/", target="_blank") English
              dl
                dt(value="tw") Taiwan
                dd
                  a(href="http://tw.ceair.com/", target="_blank") 繁体中文
              dl
                dt(value="jp") にほん
                dd
                  a(href="http://jp.ceair.com/", target="_blank") 日语
              dl
                dt(value="kr") 한국
                dd
                  a(href="http://kr.ceair.com/", target="_blank") 한국어
              dl
                dt(value="ca") Canada
                dd
                  a(href="http://ca.ceair.com/", target="_blank") English
              dl
                dt(value="uk") United Kingdom
                dd
                  a(href="http://uk.ceair.com/", target="_blank") English
              dl
                dt(value="us") United States
                dd
                  a(href="http://us.ceair.com/", target="_blank") English
              dl
                dt(value="au") Oceania
                dd
                  a(href="http://au.ceair.com/", target="_blank") English
              dl
                dt(value="de") Deutschland
                dd
                  a(href="http://de.ceair.com/", target="_blank") Deutsch
              dl
                dt(value="fr") France
                dd
                  a(href="http://fr.ceair.com/", target="_blank") Fran?ais
              dl
                dt(value="it") Italian
                dd
                  a(href="http://it.ceair.com/", target="_blank") Italiano
              dl
                dt(value="ru") Россия
                dd
                  a(href="http://ru.ceair.com/", target="_blank") Русский
              dl
                dt(value="sg") Singapore
                dd
                  a(href="http://cg.ceair.com/muovc/newsite/main/zh_SG/index.html", target="_blank") 简体中文
                  a(href="http://sg.ceair.com/", target="_blank") English
              dl
                dt(value="ph") Philippines
                dd
                  a(href="http://ph.ceair.com/", target="_blank") English
    section.logo
      hgroup
        h1
          a.ceairLogo1(href="http://www.ceair.com/", target="_blank", title="中国东方航空公司")
          a.ceairLogo2(href="http://www.skyteam.com/", target="_blank", title="天合联盟")
          a.ceairLogo3(href="http://eb.ceair.com/activity/shensu/pc/index.html", target="_blank", title="会员最优价")
        h2.hyzx
          a(href="http://eb.ceair.com/activity/hyyx/index.html", target="_blank") 会员专享
    nav
      hgroup.clearfix
        ul.menu
          li#home
            a(href="http://www.ceair.com/") 首页
          li#flight.dropdown(data-rel="menu-1")
            a(href="javascript:;") 预订行程
          li#selfservice.dropdown(data-rel="menu-2")
            a(href="javascript:;") 自助服务
          li#guide.dropdown(data-rel="menu-3")
            a(href="javascript:;") 旅行助手
          li
            a(href="http://easternmiles.ceair.com/mpf/#/home/index", target="_blank") 东方万里行
          li
            a(href="http://shopping.ceair.com/", target="_blank") 积分商城
          li.current
            a(href="http://vacations.ceair.com", target="_blank") 旅游度假
          li
            a(href="http://hotels.ceair.com/", target="_blank") 酒店
          li
            a(href="http://eb.ceair.com/insurances/pc/index.html", target="_blank") 保险
          li
            a(href="http://vacations.ceair.com/disney", target="_blank") 迪士尼
        figure.myceair
          span
            a#login 登录
            |  |
            a#register(href="http://easternmiles.ceair.com/mpf/#/sign/register", target="_blank") 注册
    menu
      article#menu-1
        ul
          li
            a(target="_blank", href="http://www.ceair.com/flight2014") 机票预订
          li
            a(target="_blank", href="http://hotels.ceair.com/") 全球酒店
          li
            a(target="_blank", href="http://www.ceair.com/a/package_domestic.html") 组合套票
      article#menu-2
        ul
          li
            a(target="_blank", href="http://www.ceair.com/server/aoc") 航班动态
          li
            a(target="_blank", href="http://www.ceair.com/server") 办理值机
          li
            a(target="_blank", href="http://www.ceair.com/server/ticket.html") 客票验真
          li
            a(target="_blank", href="http://www.ceair.com/server/asr.html") 座位预留
          li
            a(target="_blank", href="http://www.worldtracer.aero/filedsp/mu.htm") 行李查询
          li
            a(target="_blank", href="http://www.ceair.com/server/lost.html") 客舱遗留物品查询
          li
            a(target="_blank", href="http://www.ceair.com/server/weather.html") 城市天气预报
          li
            a(target="_blank", href="http://www.ceair.com/server/wifi.html") 空中互联
          li
            a(target="_blank", href="http://addservice.ceair.com/server/special/") 特殊旅客服务申请
          li
            a.with-iconnew(target="_blank", href="http://addservice.ceair.com/server/baggage/") 逾重预付费行李
          li
            a(target="_blank", href="http://addservice.ceair.com/autoRefund/index.html") 不正常航班自动退改
          li
            a(target="_blank", href="http://ebapp.ceair.com/IrregularFlight/WebApp/IrrPrint/common.html") 航班延误/取消证明打印
          li
            a(target="_blank", href="http://ebapp.ceair.com/IrregularFlight/WebApp/IrrVerify/common.html") 航班延误/取消证明验真
          li
            a(target="_blank", href="http://www.ceair.com/a/freeFlight.html") 自由飞任性改
          li
            a(target="_blank", href="http://fp.ceair.com/") 电子发票查询
          li
            a(target="_blank", href="http://ecard.ceair.com/muecard/pages/card/doc/refund/CardRefundFront.jsp") 经纪e卡退卡
      article#menu-3
        ul.guide
          li
            b 出行注意事项
            span
              a(target="_blank", href="http://www.ceair.com/guide2/xqfw/t201347_8968.html") 旅客须知
              br
              a(target="_blank", href="http://www.ceair.com/guide2/tslkxz/t2016721_26899.html") 特殊旅客须知
              br
              a(target="_blank", href="http://www.ceair.com/guide2/xlzx/t2016721_26902.html") 行李须知
              br
              a(target="_blank", href="http://www.ceair.com/guide2/gnkpsytj/t2016721_26903.html") 国内客票使用条件
              br
              a(target="_blank", href="http://www.ceair.com/guide2/lkyxlysztj/t2016721_26905.html") 旅客与行李运输条件
              br
              a(target="_blank", href="http://www.ceair.com/guide2/rtqgysxz/t2016721_26906.html") 人体器官运输须知
              br
              a(target="_blank", href="http://www.ceair.com/guide2/ldcaqysgd/t2016721_26907.html") 锂电池安全运输规定
          li
            b 行前服务
            span
              a(target="_blank", href="http://www.ceair.com/guide2/jcxx/index.html") 机场信息
              br
              a(target="_blank", href="http://www.ceair.com/guide2/bx/t2016630_26509.html") 保险
          li
            b 空中服务
            span
              a(target="_blank", href="http://www.ceair.com/guide2/dhjd/jxzs.html") 机型展示
              br
              a(target="_blank", href="http://www.ceair.com/guide2/jscs/index.html") 机上餐食
              br
              a(target="_blank", href="http://www.ceair.com/guide2/dpmgx_dy/index.html") 机上娱乐
              br
              a(target="_blank", href="http://www.ceair.com/guide2/lyzq/index.html") 凌燕专区
              br
              a(target="_blank", href="http://www.ceair.com/guide2/kzhl2/t2016721_26908.html") 空中互联
          li
            b 行后服务
            span
              a(target="_blank", href="http://www.ceair.com/guide2/xlfw2/t2016721_26909.html") 行李服务
              br
              a(target="_blank", href="http://www.ceair.com/guide2/hyjf/t2016721_26911.html") 会员积分
