//
   Created by Gaodun on 2017/5/23.
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title 一元专题
        link(type="text/css" rel="stylesheet" href="http://simg01.gaodunwangxiao.com/inc/base.css")
        link(type="text/css" rel="stylesheet" href="./css/index.css")
        <!--[if IE 8]>
        link(type="text/css" rel="stylesheet" href="./css/ie8.css")
        <![endif]-->

    body(style="background-color:#dc1d46;")
        .subject_banner(style="height:492px;background:url(./images/banner01.jpg) no-repeat center 0")
        .subject_banner(style="height:515px;background:url(./images/banner02.jpg) no-repeat center 0")
        .subject_container(style="background:url(./images/bg_01.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more(style="width:auto;display:inline-block;")
                    span 更多CPA课程 >>>
        .subject_container(style="background:url(./images/bg_02.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more
                    span 更多ACCA&CMA课程 >>>
        .subject_container(style="background:url(./images/bg_03.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more
                    span 更多CFA&FRM课程 >>>
        .subject_container(style="background:url(./images/bg_04.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more
                    span 更多初职／实操课程 >>>
        .subject_container(style="background:url(./images/bg_05.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more
                    span 更多中级职称课程 >>>
        .subject_container(style="background:url(./images/bg_06.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more
                    span 更多USCPA课程 >>>
        .subject_container(style="background:url(./images/bg_07.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more
                    span 更多金融从业课程 >>>
        .subject_container(style="background:url(./images/bg_08.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more
                    span 更多投资理财课程 >>>
        .subject_container(style="background:url(./images/bg_09.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more
                    span 更多财经求职课程 >>>
        .subject_container(style="background:url(./images/bg_10.png) no-repeat center 0")
            ul.subject_module
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
                li
                    a.class_images_a(href="#")
                        img(src="./images/class091.jpg")
                    p.class_name
                        em 限时1元
                        | 课程名
                    p.class_price
                        | ¥1
                    p.class_info
                        del ¥210
                        | 333已购
                    p.class_btns
                        a.class_consult 在线咨询 >
                        a.class_pay 立即抢课 >
            div.subject_btn_area
                a.subject_see_more
                    span 更多银行招聘课程 >>>
        .bei
            .wrapCont
                a.kex1(rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn") 沪ICP备 14038153号
                a.kex3(rel="nofollow" target="_blank" href="https://credit.szfw.org/CX27030000120820161208.html") 诚信网站
                a.kex2(rel="nofollow" target="_blank" href="https://ss.knet.cn/verifyseal.dll?sn=a13022831010039322c6ve000000&comefrom=trust&trustKey=dn&trustValue=www.gaodun.cn") 可信网站
                a.kex8(rel="nofollow" target="_blank" href="http://si.trustutn.org/info?sn=927160811023695496826&certType=1") 实名网站认证
                a.kex6(rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn")
                    | 安全联盟认证
                    script(src="http://static.anquan.org/static/outer/js/aq_auth.js")
                    b#aqLogoBBWGH(style="display:none")
                a.kex4(rel="nofollow" target="_blank" href="http://www.shjbzx.cn") 上海市互联网举报中心
                a.kex5(rel="nofollow" target="_blank" href="http://www.zx110.org") 网络社会证信网
                script(language="javascript")
                    | document.writeln("<a rel='nofollow' target='_blank' class='kex-gs' href='https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=1atr5hendjiu232trv8vb6qred7d9ymsc1d1xry7wipcl9h2qb'>上海工商</a>")
                a.kex9(rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010902001351") 沪公网安备31010902001351号
        .bei
            .wrapCont
                a.new-kex(rel="nofollow" target="_blank" href="//www.gaodun.com/licence/icp.html") 沪B2-20160190
                a.new-kex(rel="nofollow" target="_blank" href="//www.gaodun.com/licence/ppl.html") 广播电视节目制作经营许可证
        .UIFooter
            .mainContent.clearfix
                p.alignC Copyright © 2006-2017 高顿网校, All Rights Reserved.
